<div class="nav-container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar-brand logo"><img src=""/></div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        [ngbCollapse]="isCollapsed"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
        </ul>

        <ul class="navbar-nav d-none d-md-block">
          <!-- Login button: show if NOT authenticated -->
          <li class="nav-item" *ngIf="auth.loggedIn === false">
            <button
              id="qsLoginBtn"
              class="btn btn-primary btn-margin"
              (click)="auth.login()"
            >
              Log in
            </button>
          </li>
          <!-- / Login button -->

          <!-- Fullsize dropdown: show if authenticated -->
          <li class="nav-item dropdown" *ngIf="auth.userProfile$ | async as profile" ngbDropdown>
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              id="profileDropDown"
              data-toggle="dropdown"
            >
              <!-- Profile image should be set to the profile picture from the id token -->
              <img
                [src]="profile.picture"
                alt="Profile picture"
                class="rounded-circle"
                style="width: 48px"
              />
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <!-- Show the user's full name from the id token here -->
              <div class="dropdown-header" *ngIf="profile">
                {{ profile.name }}
              </div>
              <a
                routerLink="/profile"
                class="dropdown-item"
                *ngIf="profile"
              >
                <fa-icon [icon]="faUser" class="mr-3"></fa-icon> Profile
              </a>
              <button
                (click)="auth.logout()"
                class="btn btn-link dropdown-item"
                id="qsLogoutBtn"
              >
                <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon> Log out
              </button>
            </div>
          </li>
          <!-- /Fullsize dropdown -->
        </ul>

        <!-- Responsive login button: show if NOT authenticated -->
        <ul class="navbar-nav d-md-none" *ngIf="auth.loggedIn === false">
          <button
            class="btn btn-primary btn-block"
            id="qsLoginBtn"
            (click)="auth.login()"
          >
            Log in
          </button>
        </ul>
        <!-- /Responsive login button -->

        <!-- Responsive profile dropdown: show if authenticated -->
        <ul
          class="navbar-nav d-md-none justify-content-between"
          *ngIf="auth.userProfile$ | async as profile"
          style="min-height: 170px"
        >
          <li class="nav-item">
            <span class="user-info" *ngIf="profile">
              <!-- Profile image should be set to the profile picture from the id token -->
              <img
                alt="Profile picture"
                class="d-inline-block rounded-circle mr-3"
                style="width: 48px"
                [src]="profile.picture"
              />
              <!-- Show the user's full name from the id token here -->
              <h6 class="d-inline-block">{{ profile.name }}</h6>
            </span>
          </li>
          <li>
            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
            <a routerLink="/profile">Profile</a>
          </li>
          <li>
            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
            <a routerLink="apitest">API</a>
          </li>

          <li>
            <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon>
            <button
              class="btn btn-link p-0"
              id="qsLogoutBtn"
              (click)="auth.logout()"
            >
              Log out
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
