<div class="text-center hero my-5" *ngIf="!(auth.userProfile$ | async)">
  <img class="mb-3 app-logo" src="../../../assets/healogo-350px.png" alt="Health Enterprise Analytics logo" />
  <h1 class="mb-4">Health Enterprise Analytics</h1>

  <p class="lead">
    A healthcare analytics and research desktop.
  </p>
</div>

