<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px"> {{path || 'Explorer'}} </span>
  <span class="spacer"></span>
  <mat-icon class="pointer" (click)="openNewHEAObjectDialog()">
    create_new_folder
  </mat-icon>
</mat-toolbar>

<div
  class="container"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="space-between stretch"
>
  <div class="content" fxFlex fxLayout="row">
    <mat-grid-list cols="8" rowHeight="100px" fxFlex>
      <mat-grid-tile
        *ngFor="let objContainer of heaObjectContainers"
        class="file-or-folder"
      >
        <span
          [matMenuTriggerFor]="rootMenu"
          [matMenuTriggerData]="{objContainer: objContainer}"
          #menuTrigger="matMenuTrigger"
        >
        </span>
        <div
          fxLayout="column"
          fxLayoutAlign="space-between center"
          (click)="navigate(objContainer)"
          (contextmenu)="openMenu($event, menuTrigger)"
        >
          <mat-icon
            color="primary"
            class="file-or-folder-icon pointer"
            *ngIf="objContainer.heaObject.isFolder()"
          >
            folder
          </mat-icon>
          <mat-icon
            color="primary"
            class="file-or-folder-icon pointer"
            *ngIf="!objContainer.heaObject.isFolder()"
          >
            insert_drive_file
          </mat-icon>

          <span class="file-name-text">{{objContainer.heaObject.getDisplayName()}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-objContainer="objContainer">
    <ng-container>
      <button mat-menu-item (click)="delete(objContainer)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </ng-container>
    <ng-container *ngFor="let link of objContainer.links">
      <button  mat-menu-item (click)="performContextualActionFor(objContainer, link)">
        <mat-icon></mat-icon>
        <span>{{link.prompt}}</span>
      </button>
    </ng-container>

  </ng-template>
</mat-menu>

