<footer class="bg-light p-3 text-center">
  <p>
    Copyright &copy; 2021
    <a href="https://healthcare.utah.edu/huntsmancancerinstitute">Huntsman Cancer Institute</a>.
    All rights reserved.
  </p>
</footer>
