<h1 mat-dialog-title>{{inHEAObjectContainer.heaObject.display_name}} Properties</h1>

<mat-dialog-content>
  <mat-form-field class="example-full-width" *ngFor="let element of inHEAObjectContainer.template">
    <input matInput placeholder="{{element.name}}" [(ngModel)]="inHEAObjectContainer" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary">
    Save
  </button>
</mat-dialog-actions>
