<div class="container" *ngIf="auth.auth0Client$ | async">
  <app-hero></app-hero>
  <div *ngIf="auth.userProfile$ | async as profile">
    <mat-card style="height: 100%; box-sizing: border-box; padding:0">
      <app-heaobject-explorer></app-heaobject-explorer>
    </mat-card>
  </div>
</div>
