/* import only the necessary Bootstrap files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* -------begin customization-------- */

$theme-colors: (
  "primary":    #732eb3ff,
  "secondary":  #aaaaaaff,
  "success":    #a61fe0ff,
  "info":       #aaaaaaff,
  "warning":    #ffb71cff,
/*  "danger":     .., */
  "light":      #e5e5e5ff /*,
  "dark":       .. */
);

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../node_modules/bootstrap/scss/bootstrap";

.logo {
  background-image: url("assets/healogo-48px.png");
  width: 48px;
  height: 47px;
}

.hero .app-logo {
  max-width: none;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.file-name-text {
  font-size: 8px !important;
  font-weight: 700 !important;
}
